{% include 'base.html' %}
<link rel="stylesheet" type = "text/css" href="{{url_for('static',filename='css/learn.css')}}">
</head>
<body>

    {% include 'nav.html' %}

    <div class="col-lg-8 mx-auto p-3 py-md-5">

        <header class="d-flex align-items-center pb-3 mb-5 border-bottom">
            <h1 class="fs-4">Learn</h1>
        </header>
        
        <div class="row g-1 pb-5">
            Dataset Loaded: {{ dataset_filename }}
        </div>

        <form method="POST" class="row g-3">
            
            <div class="row">
                <div class="col-md-6">
                  <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Entity A:</h5>
                        {% for key,val in sample1.items() %}
                        <p><b>{{key}}</b>: {{val}}</p>
                        {% endfor %}
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Entity B:</h5>
                        {% for key,val in sample2.items() %}
                        <p><b>{{key}}</b>: {{val}}</p>
                        {% endfor %}
                    </div>
                  </div>
                </div>
            </div>

            <div class="row">
                <p>score: {{ score }}</p>
            </div>

            <div class="col-md-4">
                <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
                    <input type="radio" class="btn-check" name="btnradio" id="btnradio1" value="Yes" autocomplete="off">
                    <label class="btn btn-outline-primary" for="btnradio1">Yes</label>
        
                    <input type="radio" class="btn-check" name="btnradio" id="btnradio2" value="No" autocomplete="off">
                    <label class="btn btn-outline-primary" for="btnradio2">No</label>
        
                    <input type="radio" class="btn-check" name="btnradio" id="btnradio3" value="Not Sure" autocomplete="off">
                    <label class="btn btn-outline-primary" for="btnradio3">Not Sure</label>
                </div>
            </div>
            
            <div class="col-12">
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        </form>
        
        <div class="col-12 py-4">
            <input id="retrain" class="btn btn-primary" type="submit" value="Re-Train">
        </div>

        <div>
            <pre id="meta"></pre>    
        </div>
        
        <div>
            {% block content %}
            {{label_df | safe}}
            {% endblock %}
        </div>

        <hr class="col-3 col-md-2 mb-5">
        
        </div>
        
    <script> {% include 'js/json_fmt.js' %} </script>
</body>
</html>