<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <script src="https://d3js.org/d3.v6.min.js"></script> -->
    <link rel="icon" type="image/png" sizes="16x16" href="../static/favicon.png">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <title>Test</title>
    </head>
<body>

    
    <div class="container">
        
        <h1>Dedupe</h1>

        <form action = "/uploader" method = "POST" enctype = "multipart/form-data">
            <input type = "file" name = "file" />
            <input type = "submit"/>
        </form> 
        
        <form method="POST" class="row g-3">
            <div class="col-md-12">
                <pre id="sample1"></pre>
                <pre id="sample2"></pre>
            </div>
            <div>
                <p>{{ score }}</p>
            </div>

            <div class="col-md-4">
                <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
                    <input type="radio" class="btn-check" name="btnradio" id="btnradio1" value="Yes" autocomplete="off">
                    <label class="btn btn-outline-primary" for="btnradio1">Yes</label>
        
                    <input type="radio" class="btn-check" name="btnradio" id="btnradio2" value="No" autocomplete="off">
                    <label class="btn btn-outline-primary" for="btnradio2">No</label>
        
                    <input type="radio" class="btn-check" name="btnradio" id="btnradio3" value="Not Sure" autocomplete="off">
                    <label class="btn btn-outline-primary" for="btnradio3">Not Sure</label>
                </div>
            </div>
            <div class="col-12">
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        </form>
        
        <div class="col-12">
            <input id="retrain" class="btn btn-primary" type="submit" value="Re-Train">
        </div>

        <div>          
            <img src="data:image/png;base64, {{ scatterplt }}" >
        </div>
        
        <div>
            <pre id="meta"></pre>    
        </div>

        <div>
            <pre id="labels"></pre>    
        </div>

        
        </div>
        
    <script> {% include 'js/json_fmt.js' %} </script>
</body>
</html>