{% include 'base.html' %}
</head>
<body>

    {% include 'nav.html' %}
    
    <div class="col-lg-8 mx-auto p-3 py-md-5">
        
        <header class="d-flex align-items-center pb-3 mb-5 border-bottom">
            <h1 class="fs-4">Load</h1>
        </header>

        <div class="row gy-5">
            <div class="col-lg-8">
                <form class="row g-3" action = "/uploader" method = "POST" enctype = "multipart/form-data">
                    <label for="formFile" class="form-label">Load a CSV to dedupe</label>
                    <div class="col-auto mb-3">
                        <input class="form-control" type="file" name="file" id="formFile">
                    </div>
                    <label class="form-label">Select a previously uploaded file:</label>
                    <div class="dropdown mb-3">
                        <input type="hidden" id="dataset-hidden-selection" name="dataset-hidden-selection" value="asdf">
                        <button class="btn btn-light dropdown-toggle" type="button" name="dataset-dropdown" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                            Choose File
                        </button>
                        <ul class="dropdown-menu" id="dataset-menu" aria-labelledby="dropdownMenuButton1">
                            {% for entry in entries %}
                            <li><a class="dropdown-item" href="#">{{entry}}</a></li>
                            {% endfor %}
                        </ul>
                    </div>
                    <hr class="col-lg-12">
                    <div class="col-auto">
                        <button type="submit" class="btn btn-outline-secondary">Submit</button>
                    </div>
                </form> 

        </div>
    </div>    

    <div class="alert alert-warning alert-dismissible fade show fixed-bottom mb-5" id="nodata-alert" role="alert" style={{ nodata }}>
        Please upload a file first.
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>

    <script> {% include 'js/load_json.js' %} </script>
</body>
</html>